
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467448904'); /* IE9*/
  src: url('iconfont.eot?t=1467448904#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467448904') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467448904') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467448904#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yinle:before { content: "\e644"; }
.icon-yinle1:before { content: "\e65c"; }
.icon-music:before { content: "\e651"; }
.icon-yinle2:before { content: "\e624"; }
.icon-yinlemusic214:before { content: "\e71b"; }
.icon-yinlemusic2141:before { content: "\e71c"; }
.icon-yinlemusic2142:before { content: "\e9c4"; }
.icon-xin:before { content: "\e711"; }
.icon-xiazai:before { content: "\e6b7"; }
.icon-xiazai1:before { content: "\e890"; }
.icon-xiazai2:before { content: "\e62f"; }
.icon-19:before { content: "\e661"; }
.icon-haoyou:before { content: "\e63c"; }
.icon-haoyou1:before { content: "\e6a8"; }
.icon-video-16:before { content: "\e637"; }
.icon-signal3xinhao:before { content: "\e641"; }
.icon-xinhao:before { content: "\e615"; }
.icon-delete:before { content: "\e654"; }
.icon-mini:before { content: "\e642"; }
.icon-zuixiaohua:before { content: "\e657"; }
.icon-bofangqishangyiqu:before { content: "\e63c"; }
.icon-bofangqixiayiqu:before { content: "\e63d"; }
.icon-xiayishou:before { content: "\e627"; }
.icon-sound:before { content: "\e7ae"; }
.icon-jingyin:before { content: "\e62d"; }
.icon-weibiaoti102:before { content: "\e62c"; }
.icon-liebiaoxunhuan:before { content: "\e6f2"; }
.icon-circulation:before { content: "\e67a"; }
.icon-bofang:before { content: "\e6ac"; }
.icon-bofang1:before { content: "\f004c"; }
.icon-zanting:before { content: "\f0067"; }
.icon-zanting1:before { content: "\e672"; }
.icon-liebiao:before { content: "\f00df"; }
.icon-ci:before { content: "\f007d"; }
.icon-fenxiang:before { content: "\e663"; }
