node_modules
locales
resources
content_resources_200_percent.pak
content_shell.pak
d3dcompiler_47.dll
electron.exe
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
LICENSE
natives_blob.bin
node.dll
snapshot_blob.bin
ui_resources_200_percent.pak
version
ximput1_3.dll
electron-v1.2.0-win32-x64.zip
xinput1_3.dll
dist
mp3
mp4