*{
  border:0px; 
  margin:0px;
  padding:0px;
  -webkit-font-smoothing: antialiased;
}
/************************
  公用样式
************************/
html,body{height: 100%;width: 100%;}
body{font-family: "微软雅黑"; overflow: hidden;}
*{padding: 0; margin:0;box-sizing: border-box; list-style: none;font-family: "微软雅黑";}



//公共滚动条样式部分
::-webkit-scrollbar{
  width: 13px;
  height:9px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{ /* 1 */
  background-color: #C1C1C1;
  margin-right:3px;
}
:hover::-webkit-scrollbar-thumb { /* 2 */
  background-color: #C1C1C1;
}
::-webkit-scrollbar-thumb:hover { /* 3 */
  background-color: #C1C1C1;
}
::-webkit-scrollbar-thumb:active { /* 4 */
  background-color: #C1C1C1;
}



#root{
  width:100%;
  height:100%;
}

.App{
  width:100%;
  height:100%;
}

.clear{
  clear:both;
}

button,input{
  outline:none;
}
ul{
  list-style:none;
}
.hide{
  display:none;
}
.mask{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background-color:#000;
  opacity:0.5;
  z-index:100;
  display:none;
}

i.iconfont{
  display:inline-block;
}

@import './Main.scss';
@import './LeftPart.scss';
@import './Header.scss';
@import './MainBox.scss';
@import './Footer.scss';
@import './Progress.scss';
@import './PlayingBlock.scss';