.LeftPart{
  >p{
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-family: monospace;
    padding-left: 10px; 
  }
  >ul{
    width:100%;
    >li{
      width:100%;
      height:30px;
      padding-left:20px;
      cursor:pointer;
      position:relative;
      i{
        display: inline-block;
        font-size: 17px;
        height: 30px;
        line-height: 30px;
      }
      p{
        width: 180px;
        display: inline-block;
        padding-left: 10px;
        line-height: 30px;
        font-family: monospace;
      }
      .choseflag{
        position:absolute;
        top:0px;
        left:0px;
        height:30px;
        width:0px;
      }
    }
    >li.choosed{
      .choseflag{
        width:3px;
      }
    }
  }
}





.default .LeftPart{
  >p{
    color: #535355;  
  }
  >ul{
    >li{
      i{
        color:#555557;
      }
      p{
        color:#555557;
      }
      .choseflag{
        background-color:#c13a36;
      }
    }
    >li.choosed{
      background-color:#e6e7eb;
      .choseflag{
      }
      i{
        color:#000004;
      }
      p{
        color:#000004;
      }
    }
    >li:hover{
      i{
        color:#000004;
      }
      p{
        color:#000004;
      }
    }
  }
}