.recommend-box{
	.nav-block{
		margin-top:30px;
	}
	.nav-block:first-child{
		margin-top:0px;
	}
	.nav-block{
	  .title{
	  	width:100%;
	  	height:40px;
	  	border-bottom:1px solid #e1e1e2;
	  	p{
	  		float:left;
	  		height:40px;
	  		width:100px;
	  		line-height:40px;
	  		color:#333333;
	  	}
	  	a{
	  		display:block;
	  		float:right;
	  		height:40px;
	  		width:100px;
	  		text-align:right;
	  		line-height:50px;
	  		font-size:13px;
	  		color:#666666;
	  		span{
	  			display:block;
	  			float:right;
	  		}
	  		i{
	  			display: inline-block;
	  	    float: right;
	  	    width: 20px;
	  	    height: 40px;
	  	    line-height: 47px;
	  	    color: #666666;
	  	    text-align: center;
	  	    font-size: 11px;
	  		}
	  	}
	  }
	}




	.play-nav{
		width:100%;
		height:250px;
		padding-top:25px;
		.play-pic-box{
			width:760px;
			height:200px;
			position:relative;
			margin: 0 auto;
			.pic-item{
				width:540px;
				height:190px;	
				position:absolute;
				bottom:0px;
				display:none;
				left:380px;
				img{
					width:540px;
					height:190px;
				}
				.pic-mask{
					width:540px;
					height:190px;
					position:absolute;
					z-index:1;
					top:0px;
					left:0px;
					background-color:#4a4646;
					opacity:0.6;
				}
				>div.button{
					z-index:2;
					position:absolute;
					height:80px;
					width:32px;
					top:55px;
					cursor:pointer;
					i{
						width:32px;
						height:100%;
						line-height:80px;
						color:#a8a8a2;
						text-align:center;
					}
				}
				>div.button:hover{
					i{
						color:#fff;
					}
				}
			}
			.pic-mid{
				cursor:pointer;
				display:block;
				z-index:10;
				img{
					height:100%;
					width:100%;
				}
				.pic-mask{
					display:none;
				}
				>div.button{
					display:none;
				}
			}
			.pic-left{
				display:block;
				z-index:9;
				.pic-pre-button{
					left:0px;
				}
				.pic-next-button{
					display:none;
				}
			}
			.pic-right{
				z-index:8;
				display:block;
				.pic-next-button{
					right:0px;
				}
				.pic-pre-button{
					display:none;
				}
			}
		}
		.play-item-box{
			width:100%;
			height:25px;
			ul{
				min-width:180px;
				height:25px;
				margin: 0 auto;
				li{
					height:25px;
					width:60px;
					float:left;
					padding-top:11px;
					div{
						display:block;
						width:100%;
						height:3px;
						background-color:#c8c8c8;
						border-radius:2px;
						cursor:pointer;
					}
				}
				li.choosed{
					div{
						background-color:#c13a36;
					}
				}
			}
			ul.ul-item-7{
				width:154px;
				li{
					width:22px;
					padding-left:2px;
					padding-right:2px;
				}
			}
		}
	}







	.recommend-nav{
		width:100%;
		.list-box-1,.list-box-2{
			padding-top:20px;
			width:100%;
			display:flex;
			flex-flow:row;
			.recommend-item{
				flex:1;
				margin-left:20px;
				.imgbox{
					border:1px solid #e5e5e5;
					border-radius:1px;
					width:100%;
					height:100%;
					position:relative;
					img{
						width:100%;
						height:100%;
					}
					>p{
						background-color:#000;
				    opacity: 0.7;
				    color: #fff;
				    text-align: justify;
				    font-size: 13px;
				    height:0px;
				    line-height:21px;
				    padding-left:3px;
				    padding-right:3px;
				    overflow:hidden;
					}
					.tip{
						position:absolute;
						top:0px;
						right:0px;
						width:100%;
						z-index:9;
						height:20px;
						width:80px;
						opacity:0.7;
						background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#535355), to(#000));
						i{
							width:20px;
							height:100%;
							text-align:center;
							line-height:20px;
							display:inline-block;
							float:right;
							font-size:13px;
							color:#fff;
						}
						span{
							display:inline-block;
							float:right;
							height:20px;
							font-size:13px;
							text-align:right;
							padding-right:2px;
							color:#fff;
						}
					}
					p{
						position:absolute;
						top:0px;
						left:0px;
						width:100%;
						font-size:13px;
						font-family: -webkit-body;
						text-align:justify;
						z-index:10;
						transition:height 0.5s;
					}
				}
				.imgbox:hover >p{
					height:42px;
				}
				.miaoshu{
					font-size:13px;
					font-family: -webkit-body;
					padding:2px;
				}
			}
			.recommend-item:first-child{
				margin-left:0px;
			}
		}
		.list-box-2{
			padding-top:30px;
		}
	}


	.dujia-nav{
		width:100%;
		.list-box{
			padding-top:20px;
			width:100%;
			display:flex;
			flex-flow:row;
			.list-item{
				flex:1;
				margin-left:20px;
				.imgbox{
					border:1px solid #e5e5e5;
					border-radius:1px;
					width:100%;
					height:100%;
					position:relative;
					img{
						width:100%;
						height:100%;
					}
				}
				.miaoshu{
					font-size:13px;
					font-family: -webkit-body;
					padding:2px;
				}
			}
			.list-item:first-child{
				margin-left:0px;
			}
		}
	}




	.newmusic-nav{
		width:100%;
		.list-box{
			overflow:hidden;
			border:1px solid #ededed;
			margin-top:20px;
			width:100%;
			.list-item{
				width:50%;
				float:left;
				height:60px;
				display:flex;
				flex-flow:row;
				padding:10px;
				padding-left:0px;
				>p{
					width:32px;
					height:100%;
					text-align:center;
					line-height:40px;
					font-size:13px;
					color:#9496a2;
				}
				.pic-box{
					width:40px;
					height:40px;
					position:relative;
					img{
						width:100%;
						height:100%;
					}
					i{
						top: 8px;
						left: 8px;
						display: inline-block;
						position: absolute;
						width: 24px;
						height: 24px;
						line-height: 20px;
						text-align: center;
						color: #eeeeee;
						background-color: #000;
						font-size: 23px;
						opacity: 0.5;
						border-radius: 50%;
						cursor:pointer;
					}
					i:hover{
						opacity:1;
					}
				}
				.detail{
					flex:1;
					height:100%;
					padding-left:5px;
					p.songname{
						width: 100%;
				    height: 22px;
				    line-height: 22px;
				    color: #2d3132;
				    font-size: 14px;
				    font-family: sans-serif;
					}
					p.authorname{
						width: 100%;
						height: 18px;
						font-size: 13px;
						line-height: 18px;
					}
				}
			}
			.list-item:hover{
				background-color:#ebecee;
			}
			.list-item:nth-child(odd){
				border-right:1px solid #ededed;
			}
			.list-item.odd{
				background-color:#fafafa;
				color:#9496a2;
			}
			.list-item.even{
				background-color:#f5f5f7;
			}
		}
	}
	.recomMV-nav{
		width:100%;
		.list-box{
			padding-top:20px;
			width:100%;
			display:flex;
			flex-flow:row;
			.list-item{
				flex:1;
				margin-left:20px;
				.imgbox{
					border:1px solid #e5e5e5;
					border-radius:1px;
					width:100%;
					height:100%;
					position:relative;
					img{
						width:100%;
						height:100%;
					}
					.tip{
						position:absolute;
						top:0px;
						right:0px;
						width:100%;
						z-index:9;
						height:20px;
						width:80px;
						opacity:0.7;
						background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#535355), to(#000));
						i{
							width:20px;
							height:100%;
							text-align:center;
							line-height:20px;
							display:inline-block;
							float:right;
							font-size:13px;
							color:#fff;
							margin-left:5px;
						}
						span{
							display:inline-block;
							float:right;
							height:20px;
							font-size:13px;
							text-align:right;
							padding-right:2px;
							color:#fff;
						}
					}
				}
				.miaoshu{
					font-size:13px;
					font-family: -webkit-body;
					padding:2px;
				}
				>span{
					display:block;
					height:25px;
					line-height:25px;
					padding-left:2px;
					font-family: -webkit-body;
					font-size:11px;
				}
			}
			.list-item:first-child{
				margin-left:0px;
			}
		}
	}



	.diantai-nav{
		padding-bottom:30px;
		border-bottom:1px solid #ededed;
		.list-box{
			overflow:hidden;
			width:100%;
			.list-item{
				width:50%;
				float:left;
				height:100px;
				display:flex;
				flex-flow:row;
				padding:10px;
				padding-left:0px;
				border-bottom:1px solid #ededed;
				.pic-box{
					width:80px;
					height:80px;
					position:relative;
					img{
						width:100%;
						height:100%;
					}
					i{
						right: 5px;
				    bottom: 5px;
				    display: inline-block;
						position: absolute;
				    width: 25px;
				    height: 25px;
				    line-height: 24px;
				    text-align: center;
				    color: #eeeeee;
				    background-color: #000;
				    font-size: 23px;
				    opacity: 0.5;
				    border-radius: 50%;
				    cursor: pointer;
					}
					i:hover{
						opacity:1;
					}
				}
				.detail{
					flex:1;
					height:100%;
					padding-left:10px;
					p.songname{
						width: 100%;
						height: 22px;
						line-height: 22px;
						font-size: 15px;
						font-family: sans-serif;
						margin-top: 12px;
						color: #2b2b2b;
					}
					p.authorname{
						width: 100%;
						height: 18px;
						font-size: 13px;
						line-height: 18px;
						margin-top: 15px;
						color: #828282;
					}
				}
			}
			.list-item:nth-child(odd){
				border-right:1px solid #ededed;
			}
			.list-item:nth-child(5){
				border-bottom-width:0px;	
			}
			.list-item:nth-child(6){
				border-bottom-width:0px;	
			}
		}
	}


	.bottom-nav{
		width:100%;
		margin-top:20px;
		padding-bottom:100px;
		p{
			text-align:center;
			height:30px;
			line-height:30px;
			color:#858585;
			font-size:14px;
		}
		div{
			width:100%;
			text-align:center;
			padding-top:10px;
			button{
				height: 30px;
				width: 120px;
				line-height: 30px;
				text-align: center;
				border: 1px solid #c13a36;
				background-color: #fff;
				color: #c13a36;
				border-radius: 5px;
				cursor: pointer;
			}
		}
	}
}




