.playing-block{
  width:601px;
  height:501px;
  right:0px;
  bottom:50px;
  border-left:1px solid #c4c4c4;
  border-top:1px solid #c4c4c4;
  .playing-top{
    height:40px;
    width:100%;
    border-bottom:1px solid #e1e1e1;
    background-color:#f1f1f3;
    opacity:0.9;
    position:relative;
    padding-top:7px;
    .op{
      position:relative;
      width:220px;
      height:100%;
      margin: 0 auto;
      height:25px;
      border-radius:3px;
      >div{
        font-size:15px;
        text-align:center;
        line-height:25px;
        width:110px;
        cursor:pointer;
        height:100%;
        font-size:13px;
        font-family:-webkit-body;
      }
      .playing-list{
        display:inline-block;
        border-right:#ffffff;
        color:#838383;
        border-radius:3px 0px 0px 3px;
      }
      .history-list{
        display:inline-block;
        background-color:#ffffff;
        color:#838383;
        border-radius:0px 3px 3px 0px;
      }
      .choosed{
        background-color:#7d7d85;
        color:#fff;
      }
      .no-choosed:hover{
        background-color:#e3e3e5;
      }
    }
    i{
      display:inline-block;
      position:absolute;
      right:0px;
      top:0px;
      width:40px;
      height:40px;
      line-height:40px;
      text-align:center;
      cursor:pointer;
    }
  }
  .playing-message{
    width:100%;
    height:28px;
    border-bottom:1px solid #efefed;
    background-color:#f9f9f9;
    .left{
      float:left;
      height:28px;
      line-height:27px;
      color:#595959;
      width:100px;
      font-family: -webkit-body;
      font-size:13px;
      padding-left:30px;
    }
    .right{
      float:right;
      height:100%;
      width:160px;
      padding-top:4px;
      >div{
        cursor:pointer;
        height:23px;
        width:80px;
        i{
          display:inline-block;
          width:23px;
          height:23px;
          text-align:center;
          line-height:23px;
          color:#636363;
        }
        p{
          display:inline-block;
          line-height:23px;
          color:#636363;
          font-size:13px;
          font-family: -webkit-body;
        }
      }
      >div:hover{
        i{
          color:#000;
        }
        p{
          color:#000;
        }
      }
      .collect-part{
        display:inline-block;
        border-right:1px solid #c9c9c9;
      }
      .delete-part{
        display:inline-block;
      }
    }
  }
  .playing-content{
    height:560px;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:#fff;
    .item{
      display:flex;
      flex-flow:row;
      height:30px;
      span{
        font-size:13px;
        display:inline-block;
        width:100%;
        height:100%;
        line-height:30px;
        overflow:hidden;
        font-family: -webkit-body;
      }
      dd.name{
        flex:1;
        position:relative;
        span{
          cursor:pointer;
          padding-left:30px;
          color:#111111;
        }
        i.voice{
          color:#c62b2f;
          position:absolute;
          width:40px;
          height:30px;
          top:0px;
          left:6px;
          line-height:30px;
          font-size:13px;
        }
      }
      dd.songer{
        width:90px;
        span{
          color:#848484;;
        }
      }
      dd.from{
        width:40px;
        i.lianjie{
          width:100%;
          height:100%;
          line-height:30px;
          color:#a2a2a2;
        }
      }
      dd.time{
        width:40px;
        span{
          padding-right:30px;
          color:#848484;
        }
      }
    } 
    .item.even{
      background-color:#f5f5f7;
    }
    .item.odd{
      background-color:#fafafa;
    }
    .item.choosed{
      background-color:#e3e3e5;
      dd.time,dd.songer{
        span{
          color:#111111;
        }
        i.lianjie{
          color:#111111;
        }
      }
    }
    .item:hover{
      background-color:#ebecee;
      dd.songer,dd.time{
        span{
          color:#333333;
        }
        i.lianjie{
          color:#333333;
        }
      }
    }
  }
}