.gedan{
  padding-top:20px;
  .nav-box{
    width:100%;
    height:100%;
    .bottom-nav{
      width:100%;
      margin-top:20px;
      padding-bottom:100px;
      p{
        text-align:center;
        height:30px;
        line-height:30px;
        color:#858585;
        font-size:14px;
      }
      div{
        width:100%;
        text-align:center;
        padding-top:10px;
        button{
          height: 30px;
          width: 120px;
          line-height: 26px;
          text-align: center;
          border: 2px solid #f33233;
          background-color: #fff;
          color: #f33233;
          border-radius: 5px;
          cursor: pointer;
        }
        button:hover{
          border-color:#d40708;
        }
      }
    }
  }


  
  .detail-nav{
    overflow:hidden;
    position:relative;
    >img{
      display:block;
      float:left;
      width:200px;
      height:200px;
      border:2px solid #e4e4e4;
    }
    .information{
      height:200px;
      width:430px;
      float:left;
      margin-left:30px;
      .first-box{
        width:100%;
        height:25px;
        padding-top:3px;
        >p,i{
          height:22px;
          text-align:center;
        }
        p.gedanflag{
          float:left;
          width:40px;
          line-height:22px;
          color: #fff;
          font-size: 13px;
          font-family: -webkit-body;
          background-color:#c13a36;
          border-radius:2px;
        }
        p.gedanName{
          float: left;
          width: 40px;
          line-height: 22px;
          font-size: 21px;
          margin-left: 7px;
        }
        i{
          display: inline-block;
          float: left;
          width: 16px;
          line-height: 25px;
          margin-left: 11px;
          color: #a0a0a0;
          font-size: 15px;
          cursor:pointer;
        }
      }

      .second-box{
        width:100%;
        height:30px;
        margin-top:10px;
        span{
          display: inline-block;
          float: left;
          font-size: 13px;
          line-height: 30px;
          margin-left: 5px;
          color: #848685;
          height:30px;
        }
        span.date{
          margin-left: 30px;
          line-height: 30px;
          font-size: 13px;
        }
        i{
          height:30px;
          width:30px;
          display:inline-block;
          float:left;
          text-align: center;
          line-height: 30px;
          font-size: 21px;
          background-color: #cccccc;
          color:#fff;
        }
        p{
          height: 30px;
          line-height: 30px;
          margin-left: 8px;
          color: #5c5c5c;
          font-family: -webkit-body;
          font-size: 15px;
          width: 121px;
          float: left;
        }
        img{
          border-radius:2px;
          display:block;
          float:left;
          width:30px;
          height:30px;
        }
      }


      .third-box{
        height:70px;
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        >div{
          height:30px;
          line-height:30px;
          float:left;
          border:1px solid #e0e0e0;
          border-radius:5px;
          color:#323232;
        }
        >div.play{
          width:120px;
          >div{
            cursor:pointer;
            width:86px;
            border-right:1px solid #e0e0e0;
            float:left;
            i{
              width: 26px;
              height: 30px;
              text-align: center;
              line-height: 27px;
              color: #c13a36;
              float: left;
            }
            p{
              width:53px;
              height:30px;
              text-align:center;
              line-height:30px;
              font-size:13px;
              color:#323232;
              float:left;
              font-family: -webkit-body;
            }
          }
          >div:hover{
            background-color:#f4f5f7;
          }
          >i{
            cursor:pointer;
            display:inline-block;
            float:left;
            text-align:center;
            line-height:29px;
            color:#323232;
          }
          >i{
            width:32px;
            line-height:26px;
            height:30px;
          }
          >i.icon-jia{
            float:left;
          }
          >i.icon-jia:hover{
            background-color:#f4f5f7;
          }
        }
        div.collect{
          width:85px;
          margin-left:10px;
          cursor:pointer;
          i{
            display:inline-block;
            text-align:center;
            line-height:27px;
            float:left;
            color:#323232;
            width:30px;
          }
          p{
            width:50px;
            height:30px;
            line-height:30px;
            font-size:13px;
            font-family: -webkit-body;
            float:left;
          }
        }
        div.collect:hover{
          background-color:#f4f5f7;
        }
        div.share{
          cursor:pointer;
          width:85px;
          margin-left:10px;
          i{
            display:inline-block;
            text-align:center;
            line-height:27px;
            float:left;
            color:#323232;
            width:30px;
          }
          p{
            width:50px;
            height:30px;
            line-height:30px;
            font-size:13px;
            font-family: -webkit-body;
            float:left;
          }
        }
        div.share:hover{
          background-color:#f4f5f7;
        }
        div.download{
          cursor:pointer;
          width:95px;
          margin-left:10px;
          i{
            cursor:pointer;
            display:inline-block;
            text-align:center;
            line-height:27px;
            float:left;
            color:#323232;
            width:24px;
          }
          p{
            width:60px;
            height:30px;
            line-height:30px;
            font-size:13px;
            font-family: -webkit-body;
            float:left;
          }
        }
        div.download:hover{
          background-color:#f4f5f7;
        }
        div.disabled{
          color:#bdbdbd;
        }
      }

      .forth-box{
        width:100%;
        height:31px;
        div{
          float:left;
          width:40px;
          line-height:26px;
        }
        div.sigure{
          width: 40px;
          text-align: center;
          font-family: -webkit-body;
          font-size: 15px;
          line-height:30px;
        }
        div.sigure-nav{
          width:390px;
          span{
            display: inline-block;
            line-height: 26px;
            margin-left: 10px;
            text-decoration: underline;
            color: #0062bb;
            font-size: 13px;
          }
        }

      }


      .fifth-box{
        width:100%;
        height:38px;
        padding-bottom:12px;
        div{
          float:left;
          width:40px;
          line-height:26px;
        }
        div.detail-info{
          width: 40px;
          text-align: center;
          font-family: -webkit-body;
          font-size: 15px;
        }
        div.detail-info-nav{
          width:390px;
          p{
            line-height: 26px;
            margin-left: 10px;
            font-size: 13px;
            color:#676362;
            text-align:justify;
            height:24px;
          }
        }
      }
    }
    .flag-box{
      width:200px;
      height:200px;
      top:0px;
      right:0px;
      position:absolute;
      i{
        float: right;
        width: 16px;
        text-align: center;
        line-height: 25px;
        color: #787878;
        margin-left: 5px;
        font-size: 13px;
      }
      span{
        display: inline-block;
        float: right;
        height: 25px;
        line-height: 25px;
        margin-left: 17px;
        font-size: 13px;
      }
    }
  }
  .list-nav{
    margin-top:100px;
    width:100%;
    .top-block{
      width:100%;
      height:30px;
      border-bottom:2px solid #c13a36;
      >div.li{
        font-family: -webkit-body;
        width:80px;
        height:28px;
        float:left;
        margin-left:4px;
        border:1px solid #e0e0e0;
        border-bottom:none;
        text-align:center;
        line-height:28px;
        cursor:pointer;
      }
      >div.li:first-child{
        margin-left:50px;
      }
      div.notchoosed:hover{
        background-color:#f4f5f7;
      }
      >div.search-li{
        width:180px;
        float:right;
        height:28px;
        position:relative;
        input{
          width: 170px;
          margin-left: 4px;
          border: 1px solid #e0e0e0;
          border-radius: 10px;
          padding-left: 10px;
          line-height: 25px;
          height: 25px;
          background-color: #fafafa;
          padding-right:20px;
          font-size:13px;
          font-family:-webkit-body;
        }
        i{
          display:inline-block;
          position:absolute;
          width:32px;
          height:32px;
          line-height:32px;
          text-align:center;
          top:-5px;
          left:145px;
          color:#8e8e8e;
        }
      }
      >div.choosed{
        background-color:#c13a36;
        color:#fff;
        border-color:#c13a36;
      }
    }

    .list-block{
      width:100%;
      dd{
        font-family:-webkit-body;
        font-size:13px;
      }
      .list{
        dd{
          span{
            font-size:13px;
            font-family: -webkit-body;
            color:#666666;
          }
        }
      }
      .list{
        dd{
         color:#666666; 
        }
      }
      .list:hover{
        dd{
          span{
            color:#333333;
          }
        }
      }
      .list:hover{
        background-color:#ebeced;
      }
      .list{
        dd.title,dd.songer,dd.zhuanji{
          span:hover{
            color:#111111;
          }
        }
      }
      .list.choosed{
        dd{
          span{
            color:#0c0c0c;
          }
        }
      }
      .list{
        dd.title,dd.songer,dd.zhuanji{
          span{
            cursor:pointer;
          }
        }
      }
      .list-top{
        height:25px;
        display:flex;
        flex-flow:row;
        dd.number{
          width:50px;
          height:26px;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          border-right:1px solid #e0e0e0;
          text-align:center;
          color:#646464;
        }
        dd.op{
          padding-left:5px;
          width:60px;
          height:26px;
          text-align:center;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          border-right:1px solid #e0e0e0;
          color:#646464;
        }
        dd.title{
          padding-left:5px;
          flex:1;
          height:26px;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          border-right:1px solid #e0e0e0;
          color:#646464;
        }
        dd.songer{
          padding-left:5px;
          flex:1;
          height:26px;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          border-right:1px solid #e0e0e0;
          color:#646464;
        }
        dd.zhuanji{
          padding-left:5px;
          flex:1;
          height:26px;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          border-right:1px solid #e0e0e0;
          color:#646464;
        }
        dd.time{
          padding-left:5px;
          flex:1;
          height:26px;
          line-height:25px;
          border-bottom:1px solid #e0e0e0;
          color:#646464;
        }
      }


      .list-item{
        height:25px;
        display:flex;
        flex-flow:row;
        dd.number{
          padding-left:5px;
          width:50px;
          height:25px;
          line-height:25px;
          text-align:center;
        }
        dd.op{
          width:60px;
          height:25px;
          line-height:25px;
          padding-left:6px;
          i{
            cursor:pointer;
            display:inline-block;
            text-align:center;
            line-height:25px;
            width:24px;
            height:25px;
            float:left;
            font-size:13px;
          }
          i.icon-gou{
            color:#3d9dcf;
          }
          i.icon-xin1{
            color:#b82422;
          }
          i.icon-xin1:hover{
            color:#c13a36;
          }
          i.icon-xin:hover{
            color:#111111;
          }
          i.xiazai{
            line-height:22px;
          }
          i.xin:hover{
            color:#000;
          }
        }
        dd.title{
          flex:1;
          padding-left:5px;
          height:25px;
          line-height:25px;
        }
        dd.songer{
          padding-left:5px;
          flex:1;
          height:25px;
          line-height:25px;
        }
        dd.zhuanji{
          padding-left:5px;
          flex:1;
          height:25px;
          line-height:25px;
        }
        dd.time{
          flex:1;
          padding-left:5px;
          height:25px;
          line-height:25px;
        }
      }
      .odd{
        background-color:#fafafa;
      }
      .even{
        background-color:#f5f5f7;
      }
      .choosed{
        background-color:#e3e3e5;
        dd{
          color:#0c0c0c;
        }
      }
    }
  }
}










